<header class="header">
  <div class="buttons">
    <button
      *ngIf="!loginStatus"
      class="button__cancel"
      [routerLink]="['/login']"
    >
      Login
    </button>
    <button
      *ngIf="!loginStatus"
      class="button__create"
      [routerLink]="['/register']"
    >
      Register
    </button>
    <button
      *ngIf="loginStatus"
      class="button__cancel"
      (click)="logOut()"
      [routerLink]="['/login']"
    >
      Log Out
    </button>
    <button *ngIf="loginStatus" class="button__cancel">{{ name }}</button>
  </div>
</header>
