<div class="container">
  <h3 class="title">board</h3>
  <app-button [routerLink]="['/']" name="back"></app-button>

  <div class="kanban__board">
    <div class="kanban__block">
      <h3 class="title">To Do</h3>
      <div class="add__button">
        <span class="sub__title">add new task</span>
      </div>
      <ng-container *ngFor="let board of boards">
        <div class="task" *ngIf="board.status === 'TODO'">
          <span>{{ board.name }}</span>
        </div>
      </ng-container>
    </div>
    <div class="kanban__block">
      <h3 class="title">In Progress</h3>
      <div class="add__button">
        <span class="sub__title">add new task</span>
      </div>
      <ng-container *ngFor="let board of boards">
        <div class="task" *ngIf="board.status === 'INPROGRESS'">
          <span>{{ board.name }}</span>
        </div>
      </ng-container>
    </div>
    <div class="kanban__block">
      <h3 class="title">Done</h3>
      <div class="add__button">
        <span class="sub__title">add new task</span>
      </div>
      <ng-container *ngFor="let board of boards">
        <div class="task" *ngIf="board.status === 'DONE'">
          <span>{{ board.name }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
