<div class="container">
  <div class="kanban-board">
    <div class="kanban-block" id="todo">
      <strong>To Do</strong>
      <div class="task" id="task1">
        <span>add + </span>
      </div>
      <div class="task" id="task1">
        <span>Task 1</span>
      </div>
      <div class="task" id="task2">
        <span>Task 2</span>
      </div>
      <div class="task" id="task3">
        <span>Task 3</span>
      </div>
      <div class="task" id="task4">
        <span>Task 4</span>
      </div>
      <div class="task" id="task5">
        <span>Task 5</span>
      </div>
      <div class="task" id="task6">
        <span>Task 6</span>
      </div>
    </div>
    <div class="kanban-block" id="inprogress">
      <strong>In Progress</strong>
      <div class="task" id="task1">
        <span>add + </span>
      </div>
    </div>
    <div class="kanban-block" id="done">
      <strong>Done</strong>
      <div class="task" id="task1">
        <span>add + </span>
      </div>
    </div>
  </div>
</div>
