<div class="container">
  <div class="info">
    <h3 class="title">dashboard</h3>
    <div class="filter">
      <!-- <app-input [(ngModel)]="Name" name="Search..."></app-input> -->
      <input [(ngModel)]="Name" type="text" class="input" />

      <select>
        <option value="choix-2">Inception</option>
        <option value="choix-3">Godzilla</option>
        <option value="choix-4">Back to the future</option>
        <option value="choix-5">Shutter Island</option>
      </select>

      <app-button name="ASC"></app-button>
      <app-button name="DESC"></app-button>
    </div>
  </div>
  <app-modal [show]="showModal" [customClass]="'custom_modal_class'">
    <h1 class="title">Create a new dashboard</h1>
    <form [formGroup]="form" (ngSubmit)="createDashBoard(form.value)">
      <input
        class="input"
        type="text"
        placeholder="Enter dashboard name..."
        formControlName="name"
        required
        minlength="2"
      />
      <input
        class="input"
        type="text"
        placeholder="Enter description..."
        formControlName="desc"
        required
        minlength="2"
      />
      <div class="buttons">
        <button class="button__cancel" (click)="toggleModal()">Cancel</button>
        <button type="submit" [disabled]="!form.valid" class="button__create">
          Create
        </button>
      </div>
    </form>
  </app-modal>
  <!-- routerLink="/new-dash" -->
  <div class="dashboards">
    <button class="add__dashboard sub__title" (click)="toggleModal()">
      add new dashboard
    </button>
    <div
      class="dashboard"
      *ngFor="let dashboard of dashboards | filter: Name:'name'; let i = index"
    >
      <div class="dashboard__info">
        <input
          #inputName
          class="dashboard__info-title"
          placeholder="{{ dashboard.name }}"
        />
        <p class="dashboard__info-text">{{ dashboard.desc }}</p>
        <p class="dashboard__info-text">
          {{ dashboard.createdAt | date: "MM/dd/yyyy hh:mm:ss" }}
        </p>
        <p></p>

        <app-button
          (click)="deleteDashBoard(dashboard._id, i)"
          name="delete"
        ></app-button>
        <app-button
          name="Edit"
          (click)="editDashBoards(dashboard._id, inputName.value)"
        ></app-button>

        <app-button
          routerLink="{{ dashboard._id }}/boards"
          name="more info"
        ></app-button>
      </div>
    </div>
  </div>
</div>
