.container {
  max-width: 1200px;
  margin: 0 auto;
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter {
    display: flex;
  }
  .dashboards {
    display: flex;
    flex-wrap: wrap;
    .dashboard {
      margin: 20px;
      width: 100px;
      height: 100px;
      background-color: #7f6faa;
    }
  }
}
