<div class="container">
  <div class="info">
    <h3 class="title">dashboard</h3>
    <div class="filter">
      <app-button name="filter"></app-button>
      <app-button name="sort by Dropdown"></app-button>
      <app-button name="ASC"></app-button>
      <app-button name="DESC"></app-button>
    </div>
  </div>
  <div class="dashboards">
    <button class="add__dashboard sub__title">add new dashboard</button>
    <div class="dashboard">
      <div class="dashboard__info">
        <h3 class="dashboard__info-title">Name</h3>
        <p class="dashboard__info-text">Create date</p>
      </div>
    </div>
    <div class="dashboard">
      <div class="dashboard__info">
        <h3 class="dashboard__info-title">Name</h3>
        <p class="dashboard__info-text">Create date</p>
      </div>
    </div>
  </div>
</div>
