<div class="container">
  <div class="info">
    <h3>dashboard</h3>
    <div class="filter">
      <app-button name="filter"></app-button>
      <app-button name="sort by Dropdown"></app-button>
      <app-button name="ASC"></app-button>
      <app-button name="DESC"></app-button>
    </div>
  </div>
  <div class="dashboards">
    <app-button name="add +"></app-button>
    <div class="dashboard">
      <h3>Name</h3>
      <p>Create date</p>
    </div>
    <div class="dashboard">
      <h3>Name</h3>
      <p>Create date</p>
    </div>
    <div class="dashboard">
      <h3>Name</h3>
      <p>Create date</p>
    </div>
    <div class="dashboard">
      <h3>Name</h3>
      <p>Create date</p>
    </div>
    <div class="dashboard">
      <h3>Name</h3>
      <p>Create date</p>
    </div>
  </div>
</div>
