<div class="container">
  <div class="new__dash">
    <h1 class="title">Create a new dashboard</h1>
    <form [formGroup]="form" (ngSubmit)="createDashBoard(form.value)">
      <input
        #nameInput
        class="input"
        type="text"
        placeholder="Enter dashboard name..."
        formControlName="name"
        required
        minlength="2"
      />
      <input
        #descInput
        class="input"
        type="text"
        placeholder="Enter description..."
        formControlName="desc"
        required
        minlength="2"
      />

      <div class="buttons">
        <button class="button__cancel" routerLink="/">Cancel</button>
        <button type="submit" [disabled]="!form.valid" class="button__create">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
