<div class="dashboard" *ngFor="let dashboard of dashboards; let i = index">
  <div class="dashboard__info">
    <input
      #inputName
      class="dashboard__info-title"
      minlength="2"
      value="{{ dashboard.name }}"
    />
    <p class="dashboard__info-text">{{ dashboard.desc }}</p>
    <p class="dashboard__info-date">
      {{ dashboard.createdAt | date: " MM/dd/yyyy" }} at
      {{ dashboard.createdAt | date: " hh:mm" }}
    </p>

    <app-button
      (click)="deleteDashBoard(dashboard._id)"
      name="delete"
    ></app-button>
    <app-button
      name="Edit"
      (click)="editDashBoards(dashboard._id, inputName.value)"
    ></app-button>

    <app-button
      routerLink="{{ dashboard._id }}/boards"
      name="more info"
    ></app-button>
  </div>
</div>
