.dashboard__info-title {
  all: unset;
}

.dashboard__info-title:focus {
  border-bottom: 1px solid #6a6dcd;
}

.dashboard__info-title::placeholder {
  color: #ffffff;
}

.dashboard {
  margin: 20px;
  position: relative;

  color: #ffffff;
  padding: 10px;
  cursor: pointer;

  background: none;
  &__info {
    padding: 20px;
    text-align: center;
    align-items: center;
    background: #262626;
    border-radius: 16px;
    &-title {
      font-size: 36px;
      padding-bottom: 10px;
    }
    &-text {
      font-size: 30px;
    }
    &-date {
      font-size: 25px;
    }
  }
}
