<div class="container">
  <div class="card">
    <div class="card__content">
      <h1 class="title">Register</h1>
      <form>
        <input
          class="input__modal"
          type="text"
          placeholder="Enter full name..."
          formControlName="name"
          required
          minlength="2"
        />
        <input
          class="input__modal"
          type="password"
          placeholder="Enter password.."
          formControlName="desc"
          required
          minlength="2"
        />

        <button type="submit" class="button__create">Create</button>
      </form>
    </div>
  </div>
</div>
