<div class="container">
  <div class="block">
    <h1 class="title">Login</h1>
    <form [formGroup]="form" (ngSubmit)="login(form.value)">
      <input
        class="input"
        type="text"
        placeholder="Enter full name..."
        formControlName="fullName"
        required
        minlength="2"
      />
      <input
        class="input"
        type="password"
        placeholder="Enter password.."
        formControlName="password"
        required
        minlength="2"
        autocomplete="off"
      />
      <a [routerLink]="'/register'"> Dont Have account </a>
      <div class="buttons">
        <button class="button__cancel" [routerLink]="''">Cancel</button>
        <button type="submit" class="button__create">Login</button>
      </div>
    </form>
  </div>
</div>
