<app-loading></app-loading>
<div class="container">
  <div class="card">
    <div class="card__content">
      <h1 class="title">Login</h1>
      <form [formGroup]="form" (ngSubmit)="login(form.value)">
        <input
          type="text"
          placeholder="Enter full name..."
          class="input__modal"
          formControlName="fullName"
          required
          minlength="2"
        />
        <p
          class="text__error"
          *ngIf="form.get('fullName')?.invalid && form.get('fullName')?.touched"
        >
          <span *ngIf="form.get('fullName')?.errors?.['required']">
            Your full name is required</span
          >
          <span *ngIf="form.get('fullName')?.errors?.['minlength']">
            Your full name is too short</span
          >
        </p>
        <input
          class="input__modal"
          type="password"
          placeholder="Enter password.."
          formControlName="password"
          required
          minlength="2"
          autocomplete="off"
        />
        <p
          class="text__error"
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        >
          <span *ngIf="form.get('password')?.errors?.['required']">
            Your password is required</span
          >
          <span *ngIf="form.get('password')?.errors?.['minlength']">
            Your password is too short.
          </span>
        </p>

        <div>
          <button
            [disabled]="form.invalid"
            type="submit"
            class="button__create"
          >
            Login
          </button>
        </div>
        <a class="singup" routerLink="/register">Don't have account yet?</a>
      </form>
    </div>
  </div>
</div>
